<%= form_for(@user) do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username, :placeholder => "Username" %>
  
  <%= f.label :email %>
  <%= f.text_field :email, :placeholder => "Email@example.com" %>
  
  <%= f.label :password %>
  <%= f.password_field :password, :placeholder => "Password" %>
  
  <%= f.submit %>
  
<% end %>


<% if @user.errors.any? %>
  <div>
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this edit:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>